---
import Layout from "../../layouts/Layout.astro"
import Header from "../../components/Header.astro"
import Storecard from "../../components/Storecard.astro"
---
<Layout>
    <Header/>
    <div class="h-full w-full flex flex-row justify-center">
        <Storecard/>
    </div>
</Layout>