---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Producto from "../components/Producto.astro"
---

<Layout>
    <Header/>
    <div class="flex flex-col items-center w-full h-24">
        <Producto/>
        <Producto/>
        <Producto/>
        <Producto/>
        <button class="border-black bg-white border-2 text-2xl rounded-full h-14 w-36 hover:bg-green-600 hover:text-white hover:border-none">Comprar</button>
    </div>
</Layout>