---
import {Image} from 'astro:assets'
import carrito from '../assets/handbag.svg'
---
<header class="flex flex-row justify-between  bg-slate-950 w-auto h-20 content-center text-white">
	<div class="mt-8 ml-28">
		<h1>Aiko</h1>
	</div>
	<div class="flex gap-16 mt-7 mr-28">
		<a href="/">
			<button class=" rounded-xl h-8 w-16 border-2 outline-white hover:bg-white hover:text-black" >Inicio</button>
		</a>
		<a href="/about">
			<button class=" rounded-xl h-8 w-32 border-2 outline-white hover:bg-white hover:text-black">Quienes somos</button>
		</a>
		<a href="">
			<button class=" rounded-xl h-8 w-24 border-2 outline-white hover:bg-white hover:text-black">Compartir</button>
		</a>
		<a href="/carrito">
			<button class=" rounded-xl h-3 "><Image src={carrito} alt="carrito" class=" w-11 h-8" /></button>
		</a>
	</div>
</header>