---

---
<div class="  w-2/5 flex flex-row items-center justify-around bg-white rounded-2xl m-3">
    <img src="../../public/image.png" alt="foto" class="h-20 w-20 rounded-xl m-3">
    <p>[Titulo]</p>
    <p>[Cantidad]</p>
    <h1>[Precio]</h1>
    <button class="w-10 border-2 border-red-600 rounded-full hover:bg-red-600 hover:text-white">-</button>
</div>