---

---
<div class="flex flex-row justify-center w-4/5 h-auto">
    <div class="flex justify-center w-2/5 ">
        <div class=" flex items-center bg-white rounded-2xl h-96">
            <img src="../../public/image.png" alt="foto" class="h-80 w-72 m-4 rounded-xl">
        </div>
    </div>
    <div class="flex flex-col justify-between h-96 w-2/5">
        <div class="flex justify-center">
            <h1 class="font-bold text-2xl">[Titulo]</h1>
        </div>
        <div>
            <p class="text-xl">[Descripcion]</p>
        </div>
        <div>
            <p class="font-bold text-2xl">[Precio]</p>
        </div>
        <div class="flex flex-col items-center justify-center border-2 rounded-full bg-white border-black w-32 h-12">
            <ul class="flex flex-row gap-7 ">
                <li>
                    <button class="text-3xl">-</button>
                </li>
                <li>
                    <p class="text-3xl">0</p>
                </li>
                <li>
                    <button class="text-3xl">+</button>
                </li>
        </div>
        <div>
            <p>Disponibles: [0]</p>
        </div>
        <div>
            <ul class="flex flex-row justify-center gap-9">
                <li>
                    <button class="border-black bg-white border-2 text-3xl rounded-full h-14 w-36">Comprar</button>
                </li>
                <li>
                    <button class="flex justify-center items-center bg-white border-black border-2 rounded-full h-14 w-14"><img src="../../public/bag-plus.svg" alt="foto"  class="h-7"></button>
                </li>
            </ul>
        </div>
    </div>
</div>